<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>com.example.movieproject.Filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authFilter</filter-name>

        <servlet-name>mainPage</servlet-name>
        <servlet-name>allMovies</servlet-name>
        <servlet-name>profile</servlet-name>
        <servlet-name>editProfile</servlet-name>
        <servlet-name>reg</servlet-name>
        <servlet-name>auth</servlet-name>
        <servlet-name>movieCard</servlet-name>
        <servlet-name>favoriteMovies</servlet-name>
        <servlet-name>allAwards</servlet-name>

    </filter-mapping>

    <filter>
        <filter-name>isNotAuthFilter</filter-name>
        <filter-class>com.example.movieproject.Filters.IsNotAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>isNotAuthFilter</filter-name>
        <servlet-name>auth</servlet-name>
        <servlet-name>reg</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>isAuthFilter</filter-name>
        <filter-class>com.example.movieproject.Filters.IsAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>isAuthFilter</filter-name>
        <servlet-name>profile</servlet-name>
        <servlet-name>editProfile</servlet-name>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

</web-app>